[
    {
        "Name": "Git",
        "Priority": 4
    },
    {
        "Name": "Wechat",
        "Priority": 3
    },
    {
        "Name": "nonexistent",
        "Priority": 5
    },
    {
        "Name": "Python 3"
    },
    {
        "Name": "QQ",
        "Priority": "<script>alert('xss')</script>"
    }
]
